#App {
  background-color: lightgray;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.header {
  top: 0px;
  background-color: royalblue;
  grid-column: 1/5;
  grid-template-rows: 30%;
}

.title {
  text-align: center;
  font-size: 225%;
}

.posts-main-container {
  border: 2px solid black;
  background-color: lightgray;
  padding: 10px;
  display: grid;
  grid-column: 1/3;
  grid-row: 2/8;
}

.new-post-component-main-container{
    border: 2px solid black;
    grid-row: 2/4;
    grid-column: 3/5;
}

.post-card {
  border: 2px solid black;
  background-color: moccasin;
  padding: 10px;
  margin: 10px;
}

.nav-links {
  font-size: 150%;
  text-align: center;
  grid-row: 2;
}

a.navbar-link {
  padding: 10px;
  text-decoration: none;
  color: black;
}

a.navbar-link:hover {
  font-size: 200%;
}

a.link-tag {
  padding: 10px;
  text-decoration: none;
  color: black;
}